body {
    font-family: 'Merriweather','Noto Serif JP', serif;
    text-align: center;
}

.header .header-image {
    width: 100%;
    height: auto;
}

.header ul li {
    list-style: none;
    display: inline-block;
}

.header ul li:not(:last-child) {
    margin-right: 10px;
    border-right:2px solid #ddd;
}

.header ul li a img {
    width: 90px;
    height: 90px;
}

.header a,a:visited {
    color: #3AABD2;
    text-decoration: none;
}

.header a:hover {
    color:#3AABD2;
    border-bottom:2px solid #3AABD2;
}

.main {
    width: 100%;
}
