body {
    font-family: 'Merriweather','Noto Serif JP', serif;
}

.header .header-image {
    width: 100%;
    height: auto;
}

.icon-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3AABD2;
}

.icon-link img {
    width: 50px;
    height: 50px;
}

.icon-link:hover {
    color: #89cee4
}

.icon-link:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(25%) saturate(2282%) hue-rotate(158deg) brightness(97%) contrast(95%);
}