body {
    font-family: 'Merriweather','Noto Serif JP', serif;
}

.header .header-image {
    width: 100%;
    height: auto;
}

.icon-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    color: #3AABD2;
}

.icon-link:not(:last-child)::after {
    content: "";
    width: 2px;
    height: 60px;
    background: gray;
    position: absolute;
    right: 0;
    top: 50%;
}

.icon-link img {
    width: 100px;
    height: 100px;
}

.icon-link:hover {
    color: #067eaa
}

.icon-link:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(25%) saturate(2282%) hue-rotate(158deg) brightness(97%) contrast(95%);
}