body{
    background: linear-gradient(180deg, orange, #33ccff);
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: orange;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.table{
    width: auto;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: black;
}
a{
    color: white;
}
li{
    margin-left: 20px;
    font-weight:bolder;
}
.Profile{
    text-indent: 2rem;
}
.History{
    text-indent: 2rem;
}
.Skill{
    text-indent: 2rem;
}
.Tools{
    text-indent: 4rem;
}
.Work{
    text-indent: 2rem;
}
